<!DOCTYPE html>
{% extends 'mytemplates/base.html' %}
{% block body_block %}
    <div class="container" align="center">
        <form method="post" enctype="multipart/form-data" action="{% url 'ifsc1' %}">
            {% csrf_token %}
            <h3 class="head" style="color:black font:bold" >Find Your Branch!</h3>
            <br>
            <br>
            <label class="label1">Enter IFSC Code: </label>
            <input type="text" required="required" name="ifsc">
            <button type="submit" class="btn btn-success" value="Find">Find</button>

        <br>
                {% if banks %}
                {% for bank in banks %}
                <table class="table" align="center">
                    <thead class="thead-dark" align="center">
                        <td>Bank_ID</td>
                        <td>Bank_Name</td>
                        <td>IFSC</td>
                        <td>Branch</td>
                        <td>Address</td>
                        <td>City</td>
                        <td>District</td>
                        <td>State</td>
                    </thead>
                    <tr align="center">
                        <th>{{bank.ID}}</th>
                        <th>{{bank.Bank}}</th>
                        <th>{{bank.IFSC}}</th>
                        <th>{{bank.Branch}}</th>
                        <th>{{bank.Address}}</th>
                        <th>{{bank.City}}</th>
                        <th>{{bank.District}}</th>
                        <th>{{bank.State}}</th>
                    </tr>

                {% endfor %}
                    {% else %}
                    <br>
                    <br>
                    <br>
                    <div class="container">
                        {{ msg }}
                    </div>
                    {% endif %}
        </form>
    </div>
{% endblock %}